/*------------------------------------*\
  #Document
\*------------------------------------*/

html {
  font-size: 100vw/1920px * 16px;
  
  @media (max-width: $bp-small) {
    font-size: 6.4px;
  }
}



/*------------------------------------*\
  #Body
\*------------------------------------*/

body {
  font: $main-font;
  color: map-get($colors, regent-gray);
  padding-left:   $body-padding;
  padding-right:  $body-padding;
  overflow-x: hidden;
  
  @media (max-width: $bp-medium) {
    font-size: rem(25);
  }
  
  @media (max-width: $bp-small) {
    padding: 0;
    font-size: rem(30);
  }
}



/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}