/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn {
  display: flex;
  margin: 0 auto;
  background-color: map-get($colors, science-blue);
  width: rem(200);
  height: rem(60);
  border-radius: rem(8);
  box-shadow: rem(0) rem(10) rem(50) rgba(7,42,68,0.12);
  color: map-get($colors, white);
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  
  @media (max-width: $bp-small) {
    width:  rem(300);
    height: rem(100);
  }
}

.btn--head {
  margin: 0;
  width: rem(180);
  background-color: map-get($colors, white);
  color: map-get($colors, tarawera);
  box-shadow: rem(0) rem(5) rem(20) rgba(7,42,68,0.1);
  
  @media (max-width: 600px) {
    height: rem(60);
  }
}



/*------------------------------------*\
  #Slideshow
\*------------------------------------*/

.slideshow {
  margin-top:     rem(80);
  margin-bottom:  rem(41);
  margin-left:    auto;
  margin-right:   auto;
  position: relative;
  width: rem(964);
  height: rem(648);
  
  @media (max-width: $bp-small) {
    width:  80%;
    overflow: hidden;
    margin-bottom: rem(10);
  }
}

  .slideshow__img {
    position: absolute;
    width: 100%;
    left: 0;
    top:  0;
    transition: opacity 1s;
    opacity: 1;
    
    @media (max-width: $bp-small) {
      min-height:  100%;
    }
  }

  .slideshow__img--hidden {
    opacity: 0;
  }



/*------------------------------------*\
  #Togle-switch
\*------------------------------------*/

.toggle-switch {
  position: relative;
  display: inline-block;
  width: rem(60);
  height: rem(26);
  
  @media (max-width: $bp-medium) {
    width: rem(140);
    height: rem(50);
  }
}

  .toggle-switch__checkbox {
    display: none;
  }
  
  .toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-color: map-get($colors, white);
    transition: .4s;
    border-radius: rem(13);
    border: rem(1) solid rgba(154, 154, 154, 0.4);
    
    &::before {
      position: absolute;
      content: "";
      height: rem(18);
      width: rem(18);
      left: rem(4);
      bottom: rem(2.5);
      background-color: map-get($colors, picton-blue);
      transition: .4s;
      border-radius: 50%;
      
      @media (max-width: $bp-medium) {
        width: rem(40);
        height: rem(40);
      }
    }
  }

  .toggle-switch__checkbox:checked + .toggle-switch__slider::before {
    transform: translateX(rem(33));
    
    @media (max-width: $bp-medium) {
      transform: translateX(rem(85));
    }
  }



/*------------------------------------*\
  #Containers
\*------------------------------------*/

.box-container {
  display: flex;
  
  @media (max-width: $bp-small) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

  .box-container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: rem(420);
    margin-right: rem(80);
    border-radius: rem(10);
    font-size: rem(16);
    padding-right:  rem(37);
    padding-left:   rem(37);
    
    h3 {
      font-size: rem(24);
      color: map-get($colors, mirage);
      margin-top: rem(40);
    }
    
    p {
      width: rem(320);
    }
    
    @media (max-width: $bp-medium) {
      font-size: rem(22);
    }
    
    @media (max-width: $bp-small) {
      font-size: rem(30);
      height: auto;
      
      h3 {
        font-size: rem(30);
      }
      
      ul {
        padding-left: rem(50);
      }
    }
  }
  
  .box-container__item--alt {
    height: rem(364);
    margin-right: rem(100);
    padding: 0;
    
    h3 {
      text-transform: uppercase;
      font-size: rem(16);
      color: map-get($colors, shuttle-gray);
      font-weight: 500;
      margin-top: 0;
      margin-bottom: rem(43);
      
      @media (max-width: $bp-medium) {
        font-size: rem(22);
      }
      
      @media (max-width: $bp-small) {
        font-size: rem(28);
      }
    }
    
    @media (max-width: $bp-small) {
      height: auto;
    }
  }
  
  .box-container__item--special {
    box-shadow: 0 rem(4) rem(15) rgba(7, 42, 68, 0.1);
  }



/*------------------------------------*\
  #Page-head
\*------------------------------------*/

.page-head {
  width: 100%;
  display: inline-flex;
  align-items: center;
  font-size: rem(16);
  margin-top:     rem(40);
  margin-bottom:  rem(140);
  
  @media (max-width: $bp-medium) {
    font-size: rem(24);
  }
  
  @media (max-width: $bp-small) {
    font-size: rem(28);
    padding-left:   rem(10);
    padding-right:  rem(10);
    margin-bottom: rem(70);
  }
  
  @media (max-width: $bp-smaller) {
    flex-direction: column;
    align-items: center;
    
    img {
      display: none;
    }
  }
}
 
  .page-head__aside {
    margin-left: auto;
    display: flex;
    align-items: center;
    
    @media (max-width: $bp-smaller) {
      margin: 0;
    }
  }
 
  .page-head__login {
    margin-right: rem(40.3);
    color: map-get($colors, white);
    text-decoration: none;
    font-weight: bold;
    
    @media (max-width: $bp-medium) {
      color: map-get($colors, black);
    }
  }

.header-fixed {
  position: fixed;
  z-index: 1;
  margin-top: 0;
  right: 0;
  padding-left:   $body-padding;
  padding-right:  $body-padding;
  
  &::before {
    width: auto;
    height: 100%;
    right: 0;
    background-color: rgba(42, 42, 152, 0.7);
  }
  
  .primary-nav__link {
    color: map-get($colors, white);
  }
  
  @media (max-width: $bp-medium) {
    .page-head__login {
      color: map-get($colors, white);
    }
  }
  
  @media (max-width: $bp-small) {
    padding-left: rem(10);
    padding-right: rem(10);
  }
}



/*------------------------------------*\
  #Primary-nav
\*------------------------------------*/

.primary-nav {

}

  .primary-nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left:    rem(0.3);
    margin-top:     0;
    margin-bottom:  0;
  }
  
  .primary-nav__item {
    margin-left: rem(40.6);
  }
  
  .primary-nav__link {
    text-decoration: none;
    color: map-get($colors, regent-gray);
  }



/*------------------------------------*\
  #Product-area
\*------------------------------------*/

.product-area {
  display: flex;
  margin-bottom: rem(420);
  
  @media (max-width: $bp-small) {
    margin-bottom: rem(100);
    flex-direction: column;
    align-items: center;
  }
}

.product-container {
  align-self: center;
  width: rem(383);
  height: rem(318);
  margin-right: rem(317);
  
  .btn {
    margin-top: rem(60);
  }
  
  @media (max-width: $bp-small) {
    width:  100%;
    height: auto;
    margin: 0;
    text-align: center;
    
    .btn {
      margin-top: rem(20);
    }
  }
}

.product-img {
  width: rem(720);
  height: rem(480);
  
  @media (max-width: $bp-small) {
    width:  60%;
    height: auto;
  }
}



/*------------------------------------*\
  #Solutions-area
\*------------------------------------*/

.solutions-area {
  margin-bottom: rem(280);
  
  .sub-heading {
    margin-bottom: rem(120);
  }
  
  @media (max-width: $bp-small) {
    margin-bottom: rem(100);
  }
}



/*------------------------------------*\
  #Features-area
\*------------------------------------*/

.features-area {
  margin-bottom: rem(280);
  
  @media (max-width: $bp-small) {
    margin-bottom: rem(100);
  }
}



/*------------------------------------*\
  #Testimonials-area
\*------------------------------------*/

.testimonials-area {
  margin-bottom: rem(367);
  padding-top: rem(145);

  .sub-heading {
    margin-bottom: rem(80);
  }
  
  @media (max-width: $bp-small) {
    padding-top: 0;
    margin-bottom: rem(100);
  }
}

.testimonials-txt {
  font-size: rem(20);
  color: map-get($colors, mirage);
  
  @media (max-width: $bp-small) {
    font-size: rem(30);
  }
}



/*------------------------------------*\
  #Pricing-area
\*------------------------------------*/

.pricing-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:  rem(82);
  
  .box-container {
    margin-bottom: rem(80);
  }
}

.pricing-options {
  display: inline-flex;
  width: rem(370);
  justify-content: space-between;
  align-items: center;
  margin-top:     rem(80);
  margin-bottom:  rem(40);
  font-size: rem(18);
  font-weight: 500;
  
  @media (max-width: $bp-medium) {
    font-size: rem(23);
    width: rem(420);
  }
  
  @media (max-width: $bp-small) {
    font-size: rem(28);
    width: rem(570);
  }
}

.txt-price {
  font-size: rem(28);
  color: map-get($colors, mirage);
  font-weight: 500;

  &::before {
    content: "$";
    color: map-get($colors, science-blue);
    font-size: rem(18);
    margin-right: rem(5);
    
    @media (max-width: $bp-medium) {
      font-size: rem(24);
    }
  }
  
  &::after {
    font-size: rem(12);
    margin-left: rem(5);
    color: map-get($colors, regent-gray);
    
    @media (max-width: $bp-medium) {
      font-size: rem(20);
    }
  }
  
  @media (max-width: $bp-small) {
    font-size: rem(35);
  }
}

.txt-price--special {
  color: map-get($colors, science-blue);
}

.txt-price--monthly {
  &::after {
    content: "/mo";
  }
}

.txt-price--quarterly {
  &::after {
    content: "/qr";
  }
}

.txt-selected {
  color: map-get($colors, mirage);
}



/*------------------------------------*\
  #Page-footer
\*------------------------------------*/

.page-footer {
  font-size: rem(15);
  height: rem(572);
  padding-top: rem(287);
  text-align: center;
  
  p {
    margin: 0;
  }
  
  @media (max-width: $bp-medium) {
    font-size: rem(20);
    padding-top: rem(260);
  }
  
  @media (max-width: $bp-small) {
    font-size: rem(30);
    height: auto;
  }
}

  .page-footer__grid {
    display: flex;
    margin-bottom: rem(80);
    justify-content: space-between;
    
    @media (max-width: $bp-small) {
      flex-wrap: wrap;
      margin-bottom: rem(40);
    }
  }
  
  .page-footer__column {
    list-style: none;
    line-height: 2.2;
    margin: 0;
    
    a {
      text-decoration: none;
      color: map-get($colors, regent-gray);
      font-size: rem(16);
      
      @media (max-width: $bp-medium) {
        font-size: rem(20);
      }
      
      @media (max-width: $bp-small) {
        font-size: rem(28);
      }
    }
  }
  
  .page-footer__heading {
    text-transform: uppercase;
    font-size: rem(17);
    color: map-get($colors, mirage);
    font-weight: 500;
    
    @media (max-width: $bp-medium) {
      font-size: rem(22);
    }
    
    @media (max-width: $bp-small) {
      font-size: rem(30);
    }
  }
  
  .page-footer__img {
    align-self: start;
    
    @media (max-width: $bp-smaller) {
      display: none;
    }
  }