/**
 * CONTENTS
 *
 * GLOBAL
 * Config...............Configuration variables.
 * Mixins...............Useful mixins.
 * Colors...............Color variables.
 * Typography...........Typography-related variables.
 * Breakpoints..........Breakpoint values.
 *
 * GENERIC
 * Box-sizing...........Adjust default box-sizing.
 *
 * BASE
 * Document.............Base HTML style.
 * Body.................Base body style.
 * Headings.............H1-H6 base styles.
 *
 * UTILITIES
 * Layout...............Classes used for general layout throughout the site.
 * Decoration...........General classes that decorate several elements.
 *
 * OBJECTS
 * Text.................Various text styles.
 * Background...........Various background styles.
 * Image................Various image styles.
 * List.................Styles for ordered and unordered lists.
 *
 * COMPONENTS
 * Buttons..............Button elements.
 * Slideshow............Slideshow component.
 * Toggle-switch........Toggle switch components.
 * Containers...........Generic containers used throughout the site.
 * Page-head............The main page header.
 * Primary-nav..........Main navigation menu.
 * Product-area.........The product area of the landing page.
 * Pricing-area.........The pricing area of the landing page.
 * Page-footer..........The page footer.
 */
 
 
 
/*------------------------------------*\
  #Config
\*------------------------------------*/
 
$browser-context: 16;



/*------------------------------------*\
  #Mixins
\*------------------------------------*/

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin color-modifiers($attribute: 'color', $prefix: '-') {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex;
    }
  }
}



/*------------------------------------*\
  #Colors
\*------------------------------------*/

$colors: (
  white: #FFF,
  regent-gray: #919AA3,
  cadet-blue: #B0AFC6,
  tarawera: #072A44,
  mirage: #171C34,
  science-blue: #0074E4,
  picton-blue: #308DE8
);



/*------------------------------------*\
  #Typography
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
$main-font: rem(18) 'Poppins', sans-serif;



/*------------------------------------*\
  #Breakpoints
\*------------------------------------*/

$bp-small: em(768);



/*------------------------------------*\
  #Box-sizing
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #Document
\*------------------------------------*/

html {
  // font-size: 100vw/1920px * 16px;
}



/*------------------------------------*\
  #Body
\*------------------------------------*/

body {
  font: $main-font;
  color: map-get($colors, regent-gray);
  text-align: center;
}



/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



/*------------------------------------*\
  #Layout
\*------------------------------------*/

.float-right {
  float: right;
}

.clear-after::after {
  clear: both;
}



/*------------------------------------*\
  #Decoration
\*------------------------------------*/

.circlet-block {
  display: inline-block;
}

.circlet {
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
  width: rem(16);
  height: rem(16);
  background-color: map-get($colors, regent-gray);
  opacity: 0.3;
}

.circlet--filled {
  background-color: map-get($colors, mirage);
  opacity: 1;
}


/*------------------------------------*\
  #Text
\*------------------------------------*/

.txt {
  @include color-modifiers;
}

.txt-nodecoration {
  text-decoration: none;
}

.area-heading {
  font-size: rem(44);
  color: map-get($colors, mirage);
}

.sub-heading {
  width: rem(520);
  margin: 0 auto;
}



/*------------------------------------*\
  #Background
\*------------------------------------*/





/*------------------------------------*\
  #Image
\*------------------------------------*/

.img-rounded {
  border-radius: 50%;
}



/*------------------------------------*\
  #List
\*------------------------------------*/

.li-check {
  list-style: url('../img/checkmark-circle.svg');
}

.li-cross {
  list-style: url('../img/close-circle.svg');
}



/*------------------------------------*\
  #Buttons
\*------------------------------------*/

.btn {
  display: flex;
  margin: 0 auto;
  background-color: map-get($colors, science-blue);
  width: rem(200);
  height: rem(60);
  border-radius: rem(8);
  box-shadow: rem(0) rem(10) rem(50) rgba(7,42,68,0.12);
  color: map-get($colors, white);
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.btn--head {
  background-color: map-get($colors, white);
  color: map-get($colors, tarawera);
  box-shadow: rem(0) rem(5) rem(20) rgba(7,42,68,0.1);
}



/*------------------------------------*\
  #Slideshow
\*------------------------------------*/

.slideshow {
  position: relative;
  width: rem(964);
  height: rem(648);
}

  .slideshow__img {
    position: absolute;
    left: 0;
    top:  0;
    transition: opacity 1s;
    opacity: 1;
  }

  .slideshow__img--hidden {
    opacity: 0;
  }



/*------------------------------------*\
  #Togle-switch
\*------------------------------------*/

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

  .toggle-switch__checkbox {
    display: none;
  }
  
  .toggle-switch__slider {
    position: absolute;
    cursor: pointer;
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    
    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }
  } 
  
  .toggle-switch__checkbox:checked + .toggle-switch__slider {
    background-color: #2196F3;
  }

  .toggle-switch__checkbox:focus + .toggle-switch__slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .toggle-switch__checkbox:checked + .toggle-switch__slider::before {
    transform: translateX(26px);
  }



/*------------------------------------*\
  #Containers
\*------------------------------------*/

.box-container {

}

  .box-container__item {
  
  }
  
  .box-container__item--special {
  
  }



/*------------------------------------*\
  #Page-head
\*------------------------------------*/

.page-head {
  font-size: rem(16);
  display: inline-block;
}

.header-fixed {
  // position: fixed;
}



/*------------------------------------*\
  #Primary-nav
\*------------------------------------*/

.primary-nav {

}

  .primary-nav__list {
  
  }
  
  .primary-nav__item {
  
  }
  
  .primary-nav__link {
  
  }



/*------------------------------------*\
  #Product-area
\*------------------------------------*/

.product-area {

}

.product-container {
  display: inline-block;
  width: rem(383);
  height: rem(318);
}

.product-img {
  width: rem(720);
  height: rem(480);
}



/*------------------------------------*\
  #Pricing-area
\*------------------------------------*/

.pricing-options {
  display: inline-flex;
  margin: 0 auto;
}

.txt-price {
  &::before {
    content: "$";
  }
}

.txt-price--monthly {
  &::after {
    content: "/mo";
  }
}

.txt-price--quarterly {
  &::after {
    content: "/qr";
  }
}

.txt-selected {
  font-weight: bold;
}



/*------------------------------------*\
  #Page-footer
\*------------------------------------*/

.page-footer {
  font-size: rem(12);
  color: map-get($colors, mirage);
  background: linear-gradient(153deg, #00FFFFFF, #EBEEF0);
}

  .page-footer__grid {
    display: flex;
  }
  
  .page-footer__column {
  
  }