/*------------------------------------*\
  #Layout
\*------------------------------------*/

.float-right {
  float: right;
}

.clear-after::after {
  clear: both;
}



/*------------------------------------*\
  #Decoration
\*------------------------------------*/

.circlet-block {
  display: block;
  width: rem(90);
  margin-bottom:  rem(99);
  margin-left:    auto;
  margin-right:   auto;
  
  @media (max-width: $bp-small) {
    width: rem(160);
    margin-bottom: rem(40);
  }
}

.circlet {
  display: inline-block;
  cursor: pointer;
  border-radius: 100%;
  width: rem(16);
  height: rem(16);
  background-color: map-get($colors, regent-gray);
  opacity: 0.3;
  margin-right: rem(20);
  
  &:nth-last-child(1) {
    margin-right: 0;
  }
  
  @media (max-width: $bp-small) {
    width:  rem(40);
    height: rem(40);
  }
}

.circlet--filled {
  background-color: map-get($colors, mirage);
  opacity: 1;
}